#container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /*main axis*/
    align-items: flex-start; /*cross axis*/
    /*background: #fcfcff;*/
}

header {
    width: 90%;
    /*max-width: 800px;*/
    margin: 0;
    padding: 0 5%;
    flex: initial;
}

main {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

form {
    width: 20%;
    margin: 0%;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

fieldset {
    width: 90%;
    margin: 0.5em 0;
    padding: 0.5em 5%;
    flex: initial;
    border: 1px solid #c5c6c9;
    border-radius: 8px;
}

input {
    margin-right: 1em;
}

input[type="text"] {
    width: 100%;
}

button {
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 8px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

#btn-submit {
    background: #006492;
    border: none;
    color: #fff;
}

#btn-clear {
    margin-right: 15px;
    background: none;
    border: 1px solid #006492;
    color: #006492;
}

section {
    width: 75%;
    margin: 0;
    padding: 0;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card {
    width: 31%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    flex: initial;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    background: #f0f0f3;
}

figure {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    flex: initial;
}

img {
    width: 100%;
    max-width: 240px;
    height: auto;
    display: block;
}

/* Font styles and their media queries */
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #1a1c1e;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #1a1c1e;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #1a1c1e;
}

#no-results {
    color: #ba1a1a;
}

dl {
    margin-top: 0;
    text-align: center;
}

dt {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color: #1a1c1e;
}

dd {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #1a1c1e;
    margin: 0;
    padding: 0;
}

dd a {
    color: #006783;
    color: #006492;
    text-decoration: none;
}

dd a:hover {
    text-decoration: underline;
}

legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #1a1c1e;
}

label, select, input[type="text"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #1a1c1e;
}

input::placeholder {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #bdbdbd;
}

/* Media queries for fonts */
@media (width >= 300px) and (width <= 399px) {
    p {
        font-size: 0.875em; /* 14px */
    }

    dt, dd {
        font-size: 0.8125em; /* 13px */
    }

    h1 {
        font-size: 1.125em; /* 18 px */
    }

    h2 {
        font-size: 1em; /* 16px */
    }

    legend {
        font-size: 0.875em; /* 14px */
    }

    label, select, input::placeholder, input[type="text"], button {
        font-size: 0.875em; /* 14px */
    }
}

@media (width >= 400px) and (width <= 499px) {
    p {
        font-size: 0.9375em; /* 15px */
    }

    dt, dd {
        font-size: 0.875em; /* 14px */
    }

    h1 {
        font-size: 1.1875em; /* 19px */
    }

    h2 {
        font-size: 1.0625em; /* 17px */
    }

    legend {
        font-size: 0.9375em; /* 15px */
    }

    label, select, input::placeholder, input[type="text"], button {
        font-size: 0.9375em; /* 15px */
    }
}

@media (width >= 500px) and (width <= 599px) {
    p {
        font-size: 1em; /* 16px */
    }

    dt, dd {
        font-size: 0.9375em; /* 15px */
    }

    h1 {
        font-size: 1.25em; /* 20px */
    }

    h2 {
        font-size: 1.125em; /* 18 px */
    }

    legend {
        font-size: 1em; /* 16px */
    }

    label, select, input::placeholder, input[type="text"], button {
        font-size: 1em; /* 16px */
    }
}

@media (width >= 600px) {
    p {
        font-size: 1.0625em; /* 17px */
    }

    dt, dd {
        font-size: 1em; /* 16px */
    }

    h1 {
        font-size: 1.3125em; /* 21px */
    }

    h2 {
        font-size: 1.1875em; /* 19px */
    }

    legend {
        font-size: 1.0625em; /* 17px */
    }

    label, select, input::placeholder, input[type="text"], button {
        font-size: 1.0625em; /* 17px */
    }
}
